ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #112D4E;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #F9F7F7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3F72AF;
  }

  .active {
    background-color: #DBE2EF;
    color: #112D4E;
    font-weight: bold;
  }

  body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #DBE2EF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.ft{
    font-size: 100px;
    font-family: 'Eczar', serif;
    color:  #48889a;
    line-height: 170%;
    padding-top: 50px;
    margin-right: 100px;
    text-align: center;
}

.pfp{
    width: 85%;
    height: 85%;
    padding: 5px 20px 5px;
    margin: 0;
}

.pfpmain{
  width: 35%;
  height: 35%;
  padding: 5px 20px 5px;
  margin: 0;
  float: left;
}

.ftbody{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color:  #112D4E;
    line-height: 170%;
    
    margin-right: 100px;
    padding-bottom: 10px;
    text-align: center;
}

h3{
    color: #112D4E; 
    font-size: 20px;
    font-family:'Merriweather', serif;
    text-align: left;
    line-height: 50px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }  

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 0;
   
  }
  .grid-item {
    border: none;
    text-align: center;
    margin-top: 40px;
  }
  h4{
    text-align: center;
    color: white;
    line-height: 50px;
    margin-bottom: 0px;
  }
  a{
    color: white;
    margin-bottom: 0px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/*Linkedin*/
.fa-linkedin {
  /* background: #3B5998; */
  color: black;
}

/*Github */
.fa-github {
  /* background: #55ACEE; */
  color: black;
}