ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #112D4E;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #F9F7F7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3F72AF;
  }

  .active {
    background-color: #DBE2EF;
    color: #112D4E;
  }

  body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: white;
    font-size: 20px;
}
  